.login{
    width: 300px;
    margin-top: 100px;
    margin-left: 550px;
    background-color: rgb(27, 164, 206);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px ;
}

.newForm{
    width: 600px;
    margin-top: 50px;
    margin-left: 70px;
    border: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.header{
    margin-left: 70px;
    margin-top: 10px;
}

.button {
    background-color: transparent;
    border: none;
    outline: solid;
    cursor: pointer;
    width: 100px;
  }
  .on {
    color: rgb(241, 218, 4);
  }
  .off {
    color: #ccc;
  }
  
